html {
    scroll-behavior: smooth;
  }

/* Bootstrap Nav bar CSS */

.navbar-dark {
    /* z index keeps nav bar option at front */
    z-index: 9999;
    position: fixed;
    width: 100%;
    font-family: Poppins, sans-serif;
    background-color: #363636;
    height: 60px;
}

.navbar-collapse {
    background: #363636;
    border-radius: 8px;
    text-align: center;
 }

.active {
    color: #ffffff;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #EEFF00 !important;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.btn {
    background-color: #ffffff;
    color: #363636;
    font-family: Poppins, sans-serif;
    width: 136px;
    border: none;
    border-radius: 8px;
    margin: 10px;
    text-align: center;
}

.btn:hover {
    background-color: #EEFF00;
    color: #363636;
}

.btn:focus {
    background-color: #44474A;
}

.navbar-toggler {
    background-color: #363636;
}

/* End of Bootstrap Nav bar CSS */


 /* Custom styles for the sidebar navigation */
 body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

  .navbar {
    margin-bottom: 0;
  }

  .sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 1;
    padding-top: 20px;
    background-color: #ffffff;
  }

  .sidebar a {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    display: block;
    padding: 10px;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
  }
  .sidebar a:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
  }

  .back {
    font-weight: 500 !important;
    margin-bottom: 20px;
  }

  .content {
    top: 60px;
    margin-left: 200px; /* Same width as the sidebar */
    padding: 0px;
  }